.main-page {
    width: 100%;
    height: 600px;
    background: #f0f2f5;
}

.main-page .side-content {
    width: 18%;
    height: 100%;
    background: #ffffff;
    margin-left: 0.5%;
    margin-top: 1%;
    float:left;
    padding: 1% 1% 1% 1%;
}

.main-page .common-control-panel {
    width: 80%;
    height: 10%;
    background: #ffffff;
    margin-left: 0.5%;
    margin-top: 1%;
    padding: 1% 1% 1% 1% ;
    float:left;
}

.main-page .main-content {
    width: 80%;
    height: 90%;
    background: #ffffff;
    margin-left: 0.5%;
    margin-top: 0.5%;
    padding: 1% 1% 1% 1% ;
    float:left;
}


.table-container {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.chart-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background: #c52121;
}

.control-panel {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    border:1px solid  #a7a0a0;
    background: #ffffff;
    padding : 6% 6% 6% 6% 
}

.control-panel-root {
    width: 100%;
    height: 92%;
    background: #ffffff;
}

.info-panel {
    width: 100%;
    height: 30px;
}